Source: com.github.aleksandar-stefanovic.urmsimulator
Section: x11
Priority: extra
Maintainer: Aleksandar Stefanović <theonewithideas@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               libgee-0.8-dev,
               libgtk-3-dev,
               libgtksourceview-3.0-dev (>= 3.10),
               meson,
               valac-0.26 | valac (>= 0.26)
Standards-Version: 4.1.1

Package: com.github.aleksandar-stefanovic.urmsimulator
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A simple URM Simulator.
